{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">New employer</div>
            <div class="card-body">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-group">
                    {# Génération du label. #}
                    {{ form_label(form.nomEmp, "Nom employer", {'label_attr': {'class': 'col-sm-6 control-label'}}) }}
                    {# Génération de l'input. #}
                    {{ form_widget(form.nomEmp, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {# Génération du label. #}
                    {{ form_label(form.prenomEmp, "Prenom employer", {'label_attr': {'class': 'col-sm-6 control-label'}}) }}
                    {# Génération de l'input. #}
                    {{ form_widget(form.prenomEmp, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {# Génération du label. #}
                    {{ form_label(form.telephone, "Telephone", {'label_attr': {'class': 'col-sm-6 control-label'}}) }}
                    {# Génération de l'input. #}
                    {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {# Génération du label. #}
                    {{ form_label(form.departement, "Departement", {'label_attr': {'class': 'col-sm-6 control-label'}}) }}
                    {# Génération de l'input. #}
                    {{ form_widget(form.departement, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {# Génération du label. #}
                    {{ form_label(form.utilisateur, "Utilisateur", {'label_attr': {'class': 'col-sm-6 control-label'}}) }}
                    {# Génération de l'input. #}
                    {{ form_widget(form.utilisateur, {'attr': {'class': 'form-control'}}) }}
                </div>
                <input type="submit" value="Ajouter" class="btn btn-primary btn-block" />
                {{ form_end(form) }}
            </div>
        </div>
        <a href="{{ path('employer_index') }}" class="btn btn-info">Back to the list</a>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ asset('templates/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('templates/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ asset('templates/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

{% endblock %}
