{% extends 'base.html.twig' %}

{% block body %}
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('home_index') }}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('departement_index') }}">Departement</a>
                </li>
                <li class="breadcrumb-item active">liste</li>
            </ol>
            <!-- Example DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> La liste des departements</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Departement</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for departement in departements %}
                                <tr>
                                    <td>{{ departement.nomDep }}</td>
                                    <td>
                                        <a href="{{ path('departement_edit', {  'id': departement.id }) }}" class="btn btn-warning">Modifier</a>
                                        <a href="{{ path('departement_delete', { 'id': departement.id }) }}" class="btn btn-danger">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a href="{{ path('departement_new') }}" class="btn btn-primary">Nouveau departement</a>
        </div>
{% endblock %}
