{% extends 'base.html.twig' %}

{% block body %}

        <div class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">New employer</div>
                <div class="card-body">
                    <form class="form-horizontal" id="form" >
                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.nomDep, "Departement", {'label_attr': {'class': 'col-sm-6 control-label'}}) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.nomDep, {'id': 'nomDep', 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div id="dep_submit">
                            <button type="submit" class="btn btn-primary btn-block" id="btn" >Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
            <a href="{{ path('departement_index') }}" class="btn btn-info">Back to the list</a>
        </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('templates/vendor/jquery/jquery.min.js') }}"> </script>
    <script src="{{ asset('templates/vendor/jquery/jquery.js') }}"></script>

    <script type="text/javascript" >
        $(document).ready(function(){
            $("#btn").click(function(){
                var nomDep=$("#nomDep").val();
                $.ajax({
                    type: 'POST',
                    url: "{{ path('departement_new') }}",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',

                    success: function(response) {
                        console.log(response);
                    }

                });

            });
        });
    </script>
{% endblock %}